.open_sans_normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
  "wdth" 100;
}
 
/*Navigation Style */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 200px;
}
.nav_title{
  font-weight:800;
  font-size: 45px;
}
.text_primary{
  color: #FD6E0A;
}

/* List Style */
nav ul{
  display: flex;
  align-items: center;
}
nav ul li{
  list-style: none;
  margin-right: 50px;
  font-size: 20px;
}
nav ul li a{
  text-decoration: none;
  color:#474747;
}
nav .dark_2{
  color: #474747;
}
.btn_primary{
  background-color: #FD6E0A;
  font-size: 20px;
  padding: 18px 35px;
  color: #fff;
  border-radius: 5px;
  border: none;
}

/* Header Banckground Design */
.header{
  background-image: url(../images/developer.png),url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left,bottom right;
}
 
/* Banner Design */
.banner{
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}
.banner_content{
  max-width: 585px;
}
.banner_header_h4{
  color: #474747;
  font-size: 30px;
}
.banner_header_h1{
  color: #181818;
  font-size: 70px;
  font-weight: bold;
}
.banner_para{
  color: #757575;
  font-size: 18px;
}

/* Button Design */
.banner_btn{
  color: #fff;
  font-size: ;
}
.banner_img{
  width: 580px;
}

/* About Design */
main{
  max-width: 1250px;
  margin: 0 auto;
}
main section{
  margin-top: 130px;
  margin-bottom: 130px;
}
.about_me{
  padding: 130px 150px;
  margin-top: 130px;
  text-align: center;
  border-radius: 20px;
}
.about_h3{
  font-weight: bold;
  font-size: 35px;
  color: #181818;
}
.about_para{
  color: #757575;
  font-size: 18px;
  text-align: justify;
}
.all_items{
  display: flex;
  justify-content: space-around;
}
.about_titile{
  color: #757575;
  font-size: 18px;
}
.about_description{
  color: #474747;
  font-weight: bold;
  font-size: 20px;
}
.secondary_bg{
  background-color:#FFF8F3;
}

/* Skills Style */
.skills{
  margin: 130px 100px 0 120px;
}
.skill_title{
  font-weight: bold;
  font-size: 35px;
  color: #181818;
  text-align: center;
}
.skill_para{
  color: #757575;
  font-size: 18px;
  text-align: center;
   padding: 0 110px;
}

/* Skill Container style */
.skills_container{
  display: flex;
  gap: 40px;
  margin-top: 50px;
}
.skill{
  padding: 30px 20px;
  box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
.skill_h3{
  font-weight: bold;
  font-size: 20px;
  color: #181818;
}
.skill_p{
   color: #757575;
  font-size: 18px;
}

/* Resume Experience style */
.resume_container{
  display: flex;
  gap: 50px;
  margin: 0 130px;
}
.resume_h2{
  text-align: center;
  color: #474747;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 50px;
}
.resume_colunm_h3{
  font-weight: bold;
  font-size: 30px;
  color: #474747;
}
.experiecne_h4{
  font-weight: bold;
  font-size: 20px;
  color: #474747;
  margin-bottom: 0;
}
.experiecne_h5{
  color: #757575;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
.experiecne_p{
  color: #757575;
  font-size: 15px;
}
hr{
  border: 1px solid  #D1D1D1;
}
.button{
  background-color: #FD6E0A;
  font-size: 20px;
  padding: 18px 35px;
  color: #fff;
  border-radius: 5px;
  border: none;
  margin: 0 auto;
  display: block;
  margin-top: 60px;
}
 



